<h1>Число Армстронга</h1>
<%= form_tag url_for(controller: 'lr102', action: 'output'), method: 'get' do %>

   <%= label_tag  'Введите число' %>
   <%= text_field_tag :word %>

   <br>

   <fieldset class="form-group">

        <legend>Выбор стороны рендеринга</legend>

        <div class="form-check">

        	<label class="form-check-label">

           		<input type="radio" class="form-check-input" name="side" value="server" id="server-side" checked>
               	Рендеринг на стороне сервера этого приложения

            </label>

        </div>

        <div class="form-check">

        	<label class="form-check-label">

            	<input type="radio" class="form-check-input" name="side" value="client" id="client-side">
                Отображение сырого XML на стороне браузера

        	</label>

      	</div>

      	<div class="form-check">

        	<label class="form-check-label">

          		<input type="radio" class="form-check-input" name="side" value="client-with-xslt" id="client-side-xslt">
          		Рендеринг на стороне браузера с помощью XSLT

        	</label>

      	</div>

	</fieldset>

   <%= submit_tag 'Проверить' %>

<% end %>
